body {
    font-family: "Montserrat", sans-serif;
    background-image: url(../images/bg-tablet-pattern.svg),
      url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 61rem bottom -51rem, right -14rem top -22rem;
  }
  
  /* Navigation Bar */
  .navbar-custom {
    background-color: hsl(233, 12%, 13%);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-custom .nav-link {
    color: #dcdcdc;
  }
  
  .navbar-custom .nav-link:hover {
    color: #fff;
  }
  
  .search-button {
    background-color: #f35221;
    border: transparent;
  }
  
  .search-button:hover {
    background-color: transparent;
    color: #f35221;
  }
  
  /* Main Body */
  main {
    margin-top: 80px;
    padding: 30px 60px;
  }

  main img {
      width: 25%;
      border-radius: 20px;
  }

  .what-is-cagr {
    margin-top: 60px;
}

.what-is-cagr p {
    margin: 50px auto;
}

h2, h1, h3, h4, h5, h6 {
   font-weight: 700;
    margin-bottom: 50px;
}