<footer class="row" style="margin: 0; width: 100%;">
        <div class="col-lg-4">
            <img src="../static/images/logo.png" alt="" style="width: 200px; height: auto;">
            <p>
                The best stock screening, equity research and company analysis tool built by a passionate team of
                investors at Aggregate Terminal®. Intelligent Stock picking Starts here.
            </p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <ul>
                <li><a href="{{ url_for('home') }}">About Us</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="{{ url_for('blog_home') }}">Blog</a></li>
                <li><a href="{{ url_for('page_not_available') }}">Portfolio</a></li>
                <li><a href="{{ url_for('page_not_available') }}">Insurance</a></li>
                <li><a href="{{ url_for('ticker') }}">Equity</a></li>
                <li><a href="{{ url_for('page_not_available') }}">Mutual Fund</a></li>
            </ul>
        </div>
    <div class="text-center" style="opacity:0.9; font-size: 0.9rem; margin-top: 2rem;">
            <p>
                Copyright © 2021 Aggregate Terminal | All Rights Reserved with Aggregate Terminal®
            </p>
        </div>
    </footer>