 {% include 'head.html' %}
        <head>
            <title>Blog Home</title>
            <link rel="stylesheet" href="{{url_for('static', filename='css/blog-style.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/navbar-style.css')}}">
        </head>

 <body>
 <!-- Navigation Bar -->
 {% include 'navbar.html' %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.image_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{post.body}}
          </p>
          </div>
      </div>
    </div>
  </article>

  <hr>
 <div class="text-center">
    <a class="btn btn-outline-dark" href="{{ url_for('blog_home') }}" style="border-radius: 10px; width: 10%">Home</a>

     </div>
 <br><br>
 {% include 'footer.html' %}
</body>
        </html>